<div class="sidenav bg-neutral-50 border-r border-slate-300 z-50" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div>
        <div class="logo-container">
            <img src="favicon.svg" class="min-w-[2.8rem] rounded-full" alt="atip-image" draggable="false">

            @if(collapsed){
                <div class="logo-text">
                    <h1>Churrasqueiras Lobo</h1>
                    <h2>Estoque</h2>
                </div>
            }
        </div>

        <ul class="sidenav-nav overflow-hidden">
            <li class="sidenav-nav-item" *ngFor="let nav of sidenavData">
                <a 
                    [routerLink]="[ nav.link ]" class="sidenav-nav-link" 
                    routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    [pTooltip]="!collapsed ? nav.label : undefined" 
                    tooltipPosition="right"
                >
                    <i [ngClass]="[nav.icon]" class="sidenav-link-icon"></i>
                    @if(collapsed){ 
                        <span class="sidenav-link-text">{{ nav.label }}</span> 
                    }
                </a>
            </li>
        </ul>
    </div>

    <button (click)="toggleCollapse()" class="absolute top-5 -right-10">
        <img src="/assets/images/sidenav-icon.svg" class="w-[1.3rem]" draggable="false" alt="toggle-icon">
    </button>
</div>