<div id="nav-mobile" class="fixed top-0 w-full bg-white h-20">
    <div class="flex justify-between h-full items-center px-4 text-[#2c3239]">
        <p-button (click)="toggleDrawer()" severity="secondary" icon="pi pi-bars" variant="text" />

        <div class="flex gap-2">
            <p-button severity="secondary" icon="pi pi-user" variant="text" />
            <p-button severity="secondary" variant="text">
                <p-overlaybadge value="2" severity="danger">
                    <i class="pi pi-bell" style="font-size: 1rem"></i>
                </p-overlaybadge>
            </p-button>
        </div>
    </div>
</div>

<p-drawer [(visible)]="isDrawerVisible" header="Menu">
    <ul>
        <li *ngFor="let nav of sidenavData" class="flex flex-col gap-2">
            <a [routerLink]="[ nav.link ]"
                routerLinkActive="bg-[#E2E8F0] text-black"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="toggleDrawer()"
                class="py-3 px-5 my-1 text-[#64748B]"
            >
                <i [ngClass]="[nav.icon]" class="mr-2"></i>
                <span>{{ nav.label }}</span>
            </a>
        </li>
    </ul>
</p-drawer>