<div class="sidenav bg-white border-r border-slate-200 z-50" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button type="button" (click)="toggleCollapse()">
            <img src="assets/images/lobo-azul.png" class="min-w-[2.9rem] w-[2.9em] min-h-[2.9rem] h-[2.9em] rounded-full" alt="lobo-estoque-logo" draggable="false" />
        </button>

        @if(collapsed){
            <div class="logo-text">
                <h1>Churrasqueiras Lobo</h1>
                <h2>Contagem de estoque</h2>
            </div>
        }
    </div>

    <div class="flex flex-col justify-between h-full">
        <ul class="sidenav-nav overflow-hidden">
            @for (nav of sidenavData; track nav.label) {
                <li class="sidenav-nav-item">
                    <a 
                        [routerLink]="[ nav.link ]" class="sidenav-nav-link" 
                        routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                        [pTooltip]="!collapsed ? nav.label : undefined" 
                        tooltipPosition="right"
                        (click)="this.closeSidenav()"
                    >
                        <i [ngClass]="[nav.icon]" class="sidenav-link-icon"></i>
                        @if(collapsed){ 
                            <span class="sidenav-link-text">{{ nav.label }}</span> 
                        }
                    </a>
                </li>
            }
        </ul>

        <ul class="sidenav-nav overflow-hidden">
            <li class="sidenav-nav-item">
                <div class="sidenav-nav-link sidenav-nav-logout">
                    <i class="pi pi-user sidenav-link-icon !text-sm"></i>
                    @if(collapsed){ 
                        <div class="flex w-full justify-between items-center">
                            <span class="text-slate-600 text-xs">luisrossasd9j8</span> 

                            <button type="button" class="min-w-[30px] min-h-[30px] bg-slate-100 rounded-full">
                                <i class="pi pi-sign-out text-xs text-slate-500"></i>
                            </button>
                        </div>
                    }
                </div>
            </li>
        </ul>
    </div>
</div>