<app-header [title]="title"></app-header>

<section class="grid grid-cols-1 px-4 md:px-8">
  <div class="p-4 md:p-6 border border-slate-200 rounded-3xl">
    
    @if (inventoryHistoryGroup.length > 0){
      <p-table
        #dt1
        [value]="inventoryHistoryGroup"
        scrollHeight="calc(100vh - 275px)"
        [globalFilterFields]="['descricao']"
        [scrollable]="true"
        stripedRows 
      >
        <ng-template pTemplate="caption">
          <div class="flex flex-wrap justify-between items-center gap-4">
            <div class="flex items-center gap-2">
              <i class="pi pi-box text-lg"></i>
              <h1 class="font-bold text-slate-700 text-base md:text-lg lg:text-xl">
                Contagem (últimos 28 dias)
              </h1>
            </div>
            <div class="flex items-center gap-4">
              <div>
                <span class="p-input-icon-left relative">
                    <i class="pi pi-search absolute right-5 top-[0.2rem] text-sm"></i>
                    <input
                      pInputText
                      type="text"
                      class="rounded-full px-4 max-w-[180px]"
                      (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                      placeholder="Pesquisar"
                    />
                </span>
              </div>
              <div>
                <button
                  pButton
                  type="button"
                  [label]="finishedToday ? 'Concluído' : 'Nova contagem'"
                  rounded
                  size="small"
                  [icon]="finishedToday ? 'pi pi-check' : 'pi pi-plus'"
                  [disabled]="finishedToday"
                  (click)="navigateToNovaContagem()"
                ></button> 
              </div>
            </div>
          </div>
        </ng-template>
    
        <ng-template #header>
          <tr>
            <th class="w-[50px]">Item</th>
            <th class="w-[200px]">Descrição</th>
            <th class="w-[200px]">Estoque Mínimo</th>

            @for (data of dataAgrupadas; track $index) {
              <th class="w-[200px]">
                {{ data | date: 'dd/MM' }}
              </th>
            }
          </tr>
        </ng-template>
    
        <ng-template pTemplate="body" let-registro>
          <tr>
            <td style="font-size: 14px">{{ registro.itemId }}</td>
            <td style="font-size: 14px">{{ registro.descricao }}</td>
            <td>
              <p-badge 
                [value]="handleEstoqueMinimoText(registro.estoqueMinimo, registro.unidade)" 
                class="bg-slate-500" 
                badgeSize="large"
              />
            </td>
            
            @for (data of dataAgrupadas; track $index) {
              <td>
                <ng-container *ngIf="registro.contagensPorData[data]?.quantidade !== undefined; else vazio">
                  <p-badge
                    [value]="registro.contagensPorData[data]?.quantidade"
                    class="bg-blue-500"
                    badgeSize="large"
                  />
                </ng-container>
                <ng-template #vazio>
                  -
                </ng-template>
              </td>
            }
            
          </tr>
        </ng-template>
      </p-table>
    } 
    @else {
      <p>Nenhum item encontrado.</p>
    }

  </div>
</section>
