<div class="w-screen h-screen flex justify-center items-center gap-4 bg-gray-50">
    <div class="flex flex-col gap-10 p-6 md:p-10 shadow-md rounded-xl mx-4 bg-white">
        <div class="flex flex-col items-center text-center">
            <img src="assets/images/lobo.png" width="110px" alt="lobo-icon" class="mb-6" draggable="false">
            <h1 class="font-semibold text-xl md:text-2xl">Acessar sistema</h1>
            <p class="text-sm text-gray-500">Informe suas credenciais de acesso.</p>
        </div>

        <app-login-form />

        <div class="mx-auto text-center mt-4">
            <p class="text-xs text-gray-400 font-light">&copy; 2025 ATIP - lobo-pwa-v0.0.1</p>
        </div>
    </div>
</div>