<div class="w-screen h-screen flex justify-center items-center gap-4 bg-slate-50">
    <div class="flex flex-col gap-10 p-6 md:p-10 shadow-md rounded-xl mx-4 bg-white min-w-[200px] w-[400px]">
        <div class="flex flex-col items-center text-center gap-4">
            <img src="assets/images/lobo-azul.png" width="50px" alt="lobo-icon" class="rounded-lg" draggable="false">
            <div class="flex flex-col">
                <h1 class="font-semibold text-xl md:text-2xl">Acessar sistema</h1>
                <p class="text-sm text-slate-500">Informe suas credenciais de acesso.</p>
            </div>
        </div>

        <app-login-form />

        <div class="mx-auto text-center mt-4">
            <p class="text-xs text-slate-400 font-light">&copy; 2025 ATIP - lobo-estoque-v0.0.1</p>
        </div>
    </div>
</div>