<form [formGroup]="loginForm" (ngSubmit)="autenticar()" class="grid grid-cols-1 gap-4 w-full">
    <p-floatlabel variant="on" class="w-full">
        <input 
            pInputText 
            id="login" 
            formControlName="login" 
            autocomplete="off" 
            class="w-full py-3"
        />
        <label for="login" class="text-sm">Email</label>
    </p-floatlabel>
    
    <p-floatlabel variant="on">
        <input 
            pInputText 
            type="password" 
            id="password" 
            formControlName="password" 
            autocomplete="off" 
            class="w-full py-3"
        />
        <label for="password" class="text-sm">Senha</label>
    </p-floatlabel>

    <p-button 
        type="submit" 
        label="Acessar" 
        [disabled]="loginForm.invalid" 
        styleClass="w-full !py-4" 
        rounded 
    />
</form>
