@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeicons/primeicons.css";

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base { 
    @tailwind base; 
}

@layer tailwind-utilities { 
    @tailwind components; 
    @tailwind utilities; 
}

* {
    font-family: Inter, sans-serif;
}

h1 {
    font-family: Urbanist, sans-serif !important;
}

.p-button {
    padding: 0.6rem 1.2rem;
    border-radius: 10rem;
}

.p-button-sm {
    padding: 0.5rem 1.1rem;
}

.p-button-label {
    font-weight: 400;
    font-size: 0.9rem;
}

.p-button-icon {
    padding-right: 0.2rem;
}

.p-inputtext {
    background: transparent !important;
}

.p-inputtext.ng-invalid.ng-dirty {
    border-color: var(--p-inputtext-invalid-border-color) !important;
}

.p-inputtext:enabled:focus {
    border-color: #60a5fa;
}

.p-inputtext {
    border-color: #e2e8f0;
}

.p-drawer-content {
    padding: 0 !important;
}

.p-toast .p-toast-message-icon {
    display: none;
}

.p-toast-close-button {
    color: #FFF;
}

.p-toast-close-button:hover {
    background-color: #ffffff30;
}

.p-toast-message-error {
    background-color: rgba(188, 0, 0, 0.688);
}

.p-toast-message-success {
    background-color: rgba(0, 188, 91, 0.688);
}

.p-toast-message-info {
    background-color: rgba(0, 116, 188, 0.688);
}

.p-toast-message-warn {
    background-color: rgba(255, 204, 0, 0.914);
    .p-toast-summary, .p-toast-detail {
        color: #000 !important;
    }
}

.p-toast-summary {
    font-size: 17px;
    font-weight: 600;
    color: #FFF;
}

.p-toast-detail {
    color: #FFF;
}

.p-tooltip .p-tooltip-text {
    font-weight: 500;
    padding: 0.35rem 0.75rem;
}

.p-confirmpopup {
    max-width: 300px;
}

.p-confirmpopup::before, 
.p-confirmpopup::after {
    display: none;
}

.p-toast-detail,
.p-tieredmenu,
.p-confirmpopup,
.p-tooltip
.p-tooltip-text {
    font-size: 14px;
}

.p-paginator {
    padding-top: 2rem;
}

.p-datatable-header {
    padding: 0 0 1rem 0;
}

@media (width < 1024px) {
    .p-toast {
        max-width: 280px;
    }

    .p-tooltip {
        display: none !important;
    }
}